In [63]:
import pandas as pd

In [64]:
data = pd.read_csv('match_summary.csv')
data2 = pd.read_csv('IPL_Matches_2008_2022.csv')

In [65]:
data['BowlingTeam'] = None

In [66]:
data.head()

,index,Season,ID,overs,BattingTeam,total_run,isWicketDelivery,BowlingTeam
0,0,2012,548321,0,Deccan Chargers,2,0,None
1,1,2012,548321,0,Delhi Daredevils,2,1,None
2,2,2012,548321,1,Deccan Chargers,7,0,None
3,3,2012,548321,1,Delhi Daredevils,5,0,None
4,4,2012,548321,2,Deccan Chargers,3,1,None

In [67]:
data2.head()

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
1,1312199,Ahmedabad,2022-05-27,2022,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,field,N,Rajasthan Royals,Wickets,7.0,NaN,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon
2,1312198,Kolkata,2022-05-25,2022,Eliminator,Royal Challengers Bangalore,Lucknow Super Giants,"Eden Gardens, Kolkata",Lucknow Super Giants,field,N,Royal Challengers Bangalore,Runs,14.0,NaN,RM Patidar,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['Q de Kock', 'KL Rahul', 'M Vohra', 'DJ Hooda...",J Madanagopal,MA Gough
3,1312197,Kolkata,2022-05-24,2022,Qualifier 1,Rajasthan Royals,Gujarat Titans,"Eden Gardens, Kolkata",Gujarat Titans,field,N,Gujarat Titans,Wickets,7.0,NaN,DA Miller,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",BNJ Oxenford,VK Sharma
4,1304116,Mumbai,2022-05-22,2022,70,Sunrisers Hyderabad,Punjab Kings,"Wankhede Stadium, Mumbai",Sunrisers Hyderabad,bat,N,Punjab Kings,Wickets,5.0,NaN,Harpreet Brar,"['PK Garg', 'Abhishek Sharma', 'RA Tripathi', ...","['JM Bairstow', 'S Dhawan', 'M Shahrukh Khan',...",AK Chaudhary,NA Patwardhan

In [68]:
data2.loc[0,"Team2"]

'Gujarat Titans'

In [69]:
data["ID"][0]

548321

In [70]:
data2[data2["ID"]==548321]["Team2"]

679    Deccan Chargers
Name: Team2, dtype: object

In [71]:
data.loc[0, "BattingTeam"][0] = data2.loc[data2["ID"]==548321, "Team2"].values[0]

TypeError: 'str' object does not support item assignment

In [72]:
data.loc[0, "BattingTeam"][0]

'D'

In [73]:
data2.loc[data2["ID"]==548321, "Team1"].values[0]

'Delhi Daredevils'

In [78]:
for i in range(len(data)):
    idx = data["ID"][i]
    team1_val = data2.loc[data2["ID"]==idx, "Team1"].values
    team2_val = data2.loc[data2["ID"]==idx, "Team2"].values
    
    if data.loc[i, "BattingTeam"] is None or data.loc[i, "BattingTeam"] == team1_val:
        data.loc[i, "BowlingTeam"] = team2_val[0]
    else:
        data.loc[i, "BowlingTeam"] = team1_val[0]

In [79]:
data

,index,Season,ID,overs,BattingTeam,total_run,isWicketDelivery,BowlingTeam
0,0,2012,548321,0,Deccan Chargers,2,0,Delhi Daredevils
1,1,2012,548321,0,Delhi Daredevils,2,1,Deccan Chargers
2,2,2012,548321,1,Deccan Chargers,7,0,Delhi Daredevils
3,3,2012,548321,1,Delhi Daredevils,5,0,Deccan Chargers
4,4,2012,548321,2,Deccan Chargers,3,1,Delhi Daredevils
...,...,...,...,...,...,...,...,...
36566,36566,2022,1312200,17,Gujarat Titans,5,0,Rajasthan Royals
36567,36567,2022,1312200,17,Rajasthan Royals,16,1,Gujarat Titans
36568,36568,2022,1312200,18,Gujarat Titans,6,0,Rajasthan Royals
36569,36569,2022,1312200,18,Rajasthan Royals,3,0,Gujarat Titans
36570,36570,2022,1312200,19,Rajasthan Royals,7,2,Gujarat Titans

In [80]:
data.to_csv('match_summary_updated.csv', index=False)